.projects {
    font-size: 0.9rem;
    margin-right: 10px;
    margin-top: 8px;
    .items {
        margin-right: 10px;
    }
    .projects-label {
        color: hsl(0,0%,15%);
        margin-bottom: 7px;
        font-size: 13pt;
        font-weight: 700;
    }
}