%tech-item-base{
  background-color: #e6e4e4;
  font-size: 0.9rem;
  margin: 2px 0;
  padding: 5px;
}

$tech-item-border-radius: 7px;

.technology-name {
  @extend %tech-item-base;
  border-radius: $tech-item-border-radius 0px  0px $tech-item-border-radius;
  font-weight: bold;
  padding-left: 2px;
}

.technology-value {
  @extend %tech-item-base;
  border-radius: 0 $tech-item-border-radius $tech-item-border-radius 0px;
  padding-left: 20px;
  padding-right: 10px;

}

.technology-even {
  background: #d4d3d3;
}